In [1]:
import pandas as pd

In [6]:
df_sub1 = pd.read_csv('../results/CSUM6P_subtask1_run1.csv', sep='\t')
df_sub2 = pd.read_csv('../results/CSUM6P_subtask2_run1.csv', sep='\t')

In [7]:
df_sub1.head()

   tweet_id  misogyny
0         0  misogyny
1         1      none
2         2  misogyny
3         3  misogyny
4         4  misogyny

In [8]:
df_sub2.head()

   tweet_id   category
0         0  discredit
1         1       none
2         2  discredit
3         3  discredit
4         4       none

In [9]:
df_sub = pd.merge(df_sub1, df_sub2, on='tweet_id')

In [10]:
df_sub.head()

   tweet_id  misogyny   category
0         0  misogyny  discredit
1         1      none       none
2         2  misogyny  discredit
3         3  misogyny  discredit
4         4  misogyny       none

In [11]:
for i in range(df_sub.shape[0]):
    if df_sub.iloc[i]['misogyny'] == 'none':
         df_sub.iloc[i]['category'] = 'none'

C:\Users\pcc\.conda\envs\arbnlp\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
df_sub.to_csv('../results/CS-UM6P_run1.csv', index=False, header=True, sep='\t')